<!DOCTYPE html>
<html lang="en">
<head>
    <title>Scroll Reveal</title>
    <script src="https://unpkg.com/scrollreveal"></script>
    {% load static %}
    <script src="{% static 'scrollr.js' %}"></script>   
<link rel="stylesheet" href="{% static 'Style.css' %}">

</head>
<body>
    <section>
        <div class="content">
        <h2>Section 1</h2>
        <h3>Sub-Heading</h3>
        <p>Info abous TASS Equipment Manufacturing Company</p>
        </div>
    </section>
    <section>
        <div class="content">
        <h2>Section 2</h2>
        <h3>Sub-Heading</h3>
        <p>Info abous TASS Equipment Manufacturing Company</p>
        </div>
    </section>
    <section>
        <div class="content">
        <h2>Section 3</h2>
        <h3>Sub-Heading</h3>
        <p>Info abous TASS Equipment Manufacturing Company</p>
        </div>
    </section>
    <section>
        <div class="content">
        <h2>Section 4</h2>
        <h3>Sub-Heading</h3>
        <p>Info abous TASS Equipment Manufacturing Company</p>
        </div>
    </section>
    <section>
        <div class="content">
        <h2>Section 5</h2>
        <h3>Sub-Heading</h3>
        <p>Info abous TASS Equipment Manufacturing Company</p>
        </div>
    </section>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <h1 class="headline">
        Widget Inc.
    </h1>
</body>
</html>