<!DOCTYPE html>
<html>
  <head>
    <title>Reveal on Scroll</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
 
  </head>


  <section>
    <div class="content">
      <h2>Section 1</h2>
      <h3>Subheading 1</h3>
      <p>
        hello this is information about TEMCO. We are based out of Chhattisgarh.......
      </p>
    </div>
  </section>
  <section>
    <div class="content">
      <h2>Section 2</h2>
      <h3>Subheading 2</h3>
      <p>
        hello this is information about TEMCO. We are based out of Chhattisgarh.......
      </p>
    </div>
  </section>
  <section>
    <div class="content">
      <h2>Section 3</h2>
      <h3>Subheading 3</h3>
      <p>
        hello this is information about TEMCO. We are based out of Chhattisgarh.......
      </p>
    </div>
  </section>
  <section>
    <div class="content">
      <h2>Section 4</h2>
      <h3>Subheading 4</h3>
      <p>
        hello this is information about TEMCO. We are based out of Chhattisgarh.......
      </p>
    </div>
  </section>
  <script src="scroll-out.js"></script>
  <script type="text/javascript"></script>
  ScrollOut({
    targets: 'h2,h3'
  }) 
  </html>